[ req ]
distinguished_name = dn
x509_extensions    = v3_req
prompt             = no

[ dn ]
CN = 192.168.1.10

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 192.168.1.10
IP.2 = 192.168.1.20
